@font-face {
    font-family: 'Stage Grotesk';
    src: url('StageGrotesk-Medium.woff2') format('woff2'),
        url('StageGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stage Grotesk';
    src: url('StageGrotesk-Regular.woff2') format('woff2'),
        url('StageGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stage Grotesk';
    src: url('StageGrotesk-Bold.woff2') format('woff2'),
        url('StageGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

